.gallery{
    background-color: rgba(246, 246, 246, 1);
    margin: 30px 100px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    list-style: none;
}

@media  (max-width: 768px) {
    .gallery{
        flex-direction: column;
        margin: auto;
        padding: 20px 20px 0 20px;
        min-width: 300px;
        background-color: #fff;
        gap: 20px;
    }
}
