.apartment{
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to top, #863600, #ff6060);
    min-width: 340px;
    height: 340px;
    border-radius: 25px;
}

.apartment__title{
    color: white;
    font-weight: 500;
    width: 30%;
    padding-left: 20px;
    padding-bottom: 20px;
}

@media  (max-width: 768px) {
    .apartment{
        min-width: 300px;
    }
}